/* DEPRECATED: antigo nome 'ANARCOOM' renomeado para 'ANARCROOM'.
  Use `static/anarcroom.css` em vez deste ficheiro. */
/* ficheiro obsoleto - conservar vazio. */
/* Ver: static/anarcroom.css */
